# Auto detect text files and perform LF normalization
* text=auto

# Force bash scripts to use LF
*.sh text eol=lf

# Force certain binary files to be treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
